html, body {
    height: 100%;
    margin: 0;
}

#root {
    height: 100%;
}

.App {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.Main {
    display: flex;
    flex-direction: column;
    height: 100%;
    z-index: 1;
}

.Map {
    /*width: 500px;*/
    /*height: 500px;*/
    flex-grow: 1;
    height: 100%;
}


button {
    border: solid 1px gray;
    border-radius: 0.5em;
    padding: 0.5em;
}

button:focus {
    box-shadow: 0 0 0 2px #00afed;
    border: solid 1px transparent;
    outline: none;
}

input {
    border-radius: 0.5em;
    padding: 0.5em;
    border: solid 1px gray;
}

input:focus {
    box-shadow: 0 0 0 2px #00afed;
    border-color: transparent;
    outline: none;
}

.Form {
    padding: 0.5em;
    background-color: #b1b1a4;
}

.Form-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.Form-item label {
    margin-right: 1em;
    width: 100px;
}

#category {
    flex-grow: 1;
    border: solid 1px gray;
    border-radius: 0.5em;
    background-color: lightgray;
    padding: 0.5em;
}

#category:focus {
    outline: none;
    box-shadow: 0 0 0 2px #00afed;
    border-color: transparent;
}


.Form-submit {
    background-color: forestgreen;
    color: white;
}

.Form-submit:active {
    background-color: limegreen;
}

.PlaceList {
    border-top: solid 1px black;
    overflow-y: scroll;
}

.PlaceItem {
    /*display: flex;*/
    /*flex-direction: column;*/
    margin-bottom: 0.5em;
    padding: 0.5em;
    border-bottom: solid 1px black;
}

.PlaceItem.Selected {
    background-color: lightgreen;
}

.PlaceName {
    font-size: 1.2em;
    color: black;
}

.PlaceAddress {
    color: gray;
}

.PlaceCategory {

}


.GoToButton {
    background-color: lightskyblue;
    margin-left: auto;
}

