html, body {
    height: 100%;
    margin: 0;
}

#root {
    height: 100%;
}

.App {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.Main {
    display: flex;
    flex-direction: column;
    height: 100%;
    z-index: 1;
}

.Map {
    /*width: 500px;*/
    /*height: 500px;*/
    flex-grow: 1;
    height: 100%;
}


button, .Button {
    border: solid 1px transparent;
    /*border: none;*/
    box-shadow: 0 2px 3px 0 gray;
    border-radius: 0.5em;
    padding: 0.5em;
    color: black;
    cursor: pointer;
    font-size: 1em;
}

button:focus, .Button:focus {
    box-shadow: 0 0 0 2px #00afed;
    border: solid 1px transparent;
    outline: none;
}

.Button {
    background-color: #5fc2e6;
}

.Button:hover {
    background-color: #88d1ec;
}

.Button:active {
    background-color: #a0daf0;
}

.SaveLoadJSON {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5em;
    /*background-color: #b1b1a4;*/
    background-color: #e6e9e2;
}

.Button {
    display: inline-block;
    text-decoration: none;
    color: black;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

input {
    border-radius: 0.5em;
    padding: 0.5em;
    border: solid 1px gray;
}

input:focus {
    box-shadow: 0 0 0 2px #00afed;
    border-color: transparent;
    outline: none;
}

.Form {
    padding: 0.5em;
    background-color: #F4F7F5;
}

.Form-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.Form-item label {
    margin-right: 1em;
    width: 100px;
}

#category {
    flex-grow: 1;
    border: solid 1px gray;
    border-radius: 0.5em;
    background-color: lightgray;
    padding: 0.5em;
}

#category:focus {
    outline: none;
    box-shadow: 0 0 0 2px #00afed;
    border-color: transparent;
}


.Form-submit {
    background-color: #60B425;
}

.Form-submit:hover {
    background-color: #7bd63b;
}

.Form-submit:active {
    background-color: #9ee16f;
}


.PlaceList {
    overflow-y: scroll;
}

.PlaceItem {
    margin-bottom: 0.5em;
    padding: 1em;
    border-bottom: solid 1px black;
    background-color: #e6e9e2;
}

.PlaceItem.Selected {
    background-color: #adea9f;
}

.PlaceName {
    font-size: 1.2em;
    color: black;
}

.GoToButton {
    background-color: #60B425;
    margin-left: auto;
}

.GoToButton:hover {
    background-color: #7bd63b;
}

.DeleteButton {
    background-color: #F62A0C;
}

.DeleteButton:hover {
    background-color: #f7533b;
}

.DeleteButton:active {
    background-color: #f9806f;
}

.Buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}
